<div class="table-row-container" [class.expanded-row]="billOpned">
	<div class="table-row">
		<div class="close-bill" (click)="toggleBill()"></div>
		<div class="check-box">
			<input type="checkbox" [checked]="check" (click)="checkMe($event)">
			<div class="box"></div>
		</div>
		<div class="row-items">
			<div class="less-info">
				<span>{{data.nfa}}</span>
				<span>{{data.ndf}}</span>
				<span>{{mTVA}}</span>
				<span>{{data.ddf}}</span>
			</div>
			<form class="more-info" (submit)="editBill($event)" id="UpdateForm">
				<div class="info-box">
					<span>N° Facture: </span>
					<div>
						<input (keyup.enter)="blurInput($event)" type="text" name="nfa" value="{{data.nfa}}">
						<span>{{data.nfa}}</span>
						<i class="remixicon-pencil-fill"></i>
					</div>
				</div>
				<div class="info-box">
					<span>Designation de bien et service: </span>
					<div>
						<input (keyup.enter)="blurInput($event)" type="text" name="dbs" value="{{data.dbs}}">
						<span>{{data.dbs}}</span>
						<i class="remixicon-pencil-fill"></i>
					</div>
				</div>
				<div class="info-box">
					<span>Date de facture: </span>
					<div>
						<input (keyup.enter)="blurInput($event)" type="text" name="ddf" value="{{data.ddf}}">
						<span>{{data.ddf}}</span>
						<i class="remixicon-pencil-fill"></i>
					</div>
				</div>
				<div class="info-box">
					<span>Fournisseur: </span>
					<div>
						<input (keyup.enter)="blurInput($event)" type="text" name="ndf" value="{{data.ndf}}">
						<span>{{data.ndf}}</span>
						<i class="remixicon-pencil-fill"></i>
					</div>
				</div>
				<div class="info-box">
					<span>ICE: </span>
					<div>
						<input (keyup.enter)="blurInput($event)" type="text" name="ice" value="{{data.ice}}">
						<span>{{data.ice}}</span>
						<i class="remixicon-pencil-fill"></i>
					</div>
				</div>
				<div class="info-box">
					<span>Identifaction Fiscal: </span>
					<div>
						<input (keyup.enter)="blurInput($event)" type="text" name="iff" value="{{data.iff}}">
						<span>{{data.iff}}</span>
						<i class="remixicon-pencil-fill"></i>
					</div>
				</div>
				<div class="info-box">
					<span>Montant HT: </span>
					<div>
						<input (keyup.enter)="blurInput($event)" type="text" name="mht" (keyup)="calculate()" [value]="mHT" (input)="mHT = $event.target.value">
						<span>{{mHT}} MAD</span>
						<i class="remixicon-pencil-fill"></i>
					</div>
				</div>
				<div class="info-box">
					<span>Taux TVA: </span>
					<div>
						<input (keyup.enter)="blurInput($event)" type="text" name="tau" (keyup)="calculate()" [value]="tTVA" (input)="tTVA = $event.target.value">
						<span>{{tTVA}}</span>
						<i class="remixicon-pencil-fill"></i>
					</div>
				</div>
				<div class="info-box">
					<span>Montant TVA: </span>
					<div>
						<input (keyup.enter)="blurInput($event)" type="hidden" name="tva" [value]="mTVA" (input)="mTVA = $event.target.value">
						<span>{{mTVA}} MAD</span>
						<!-- <i class="remixicon-pencil-fill"></i> -->
					</div>
				</div>
				<div class="info-box">
					<span>Montant TTC: </span>
					<div>
						<input (keyup.enter)="blurInput($event)" type="hidden" name="ttc" [value]="mTTC" (input)="mTTC = $event.target.value">
						<span>{{mTTC}} MAD</span>
						<!-- <i class="remixicon-pencil-fill"></i> -->
					</div>
				</div>
				<div class="info-box">
					<span>Date de paiment: </span>
					<div>
						<input (keyup.enter)="blurInput($event)" type="text" name="ddp" [value]="data.ddp">
						<span>{{data.ddp}}</span>
						<i class="remixicon-pencil-fill"></i>
					</div>
				</div>
				<div class="info-box">
					<span>Mode de paiment: </span>
					<div>
						<select name="mdp" [value]="data.mdp" (change)="submitForm($event)">
							<option value="1">Espèce</option>
							<option value="2">Cheque</option>
							<option value="3">Prélèvement</option>
							<option value="4">Virement</option>
							<option value="5">Effet</option>
							<option value="6">Compensation</option>
							<option value="7">Autres</option>
						</select>
						<span>{{paymentMode[data.mdp-1]}}</span>
						<i class="remixicon-pencil-fill"></i>
					</div>
				</div>
				<button class="hide" type="submit" id="{{data.id}}">hidden button</button>
			</form>
		</div>
		<div class="expand">
			<i class="remixicon-file-copy-2-fill" [tooltip]="'Dupliquer'" (click)="duplicateBill($event)"></i>
			<i [ngClass]="billOpned ? 'remixicon-arrow-down-s-fill' : 'remixicon-arrow-left-s-fill'" (click)="toggleBill()"></i>
			<i class="remixicon-delete-bin-2-fill delete-icon-details" [tooltip]="'Supprimer'" (click)="deleteMe()"></i>
		</div>
	</div>
</div>