<div class="register-plans-container flex">
	<span class="large-title">S'il vous plaît sélectionnez votre plan</span>
	<div class="plans-container flex">
		<div class="plan flex selected-plan">
			<div class="plan-head flex">
				<span class="large-title">Premium</span>
				<span class="sub-title">Calcule automatique & XML</span>
			</div>
			<div class="plan-body flex">
				<span>Calcule automatique & XML</span>
				<span>Possibility d’exportation de PDF</span>
				<span>Espace des dossier illimité</span>
				<span>Calcule quantité illimitée de factures</span>
				<span>Ability de 20 users</span>
			</div>
			<div class="plan-footer flex">
				<div class="input-grp flex">
					<select id="months">
						<option value="1">1 mois</option>
						<option value="2">2 mois</option>
						<option value="3" selected>3 mois</option>
						<option value="4">4 mois</option>
						<option value="5">5 mois</option>
						<option value="6">6 mois</option>
						<option value="7">7 mois</option>
						<option value="8">8 mois</option>
						<option value="9">9 mois</option>
						<option value="10">10 mois</option>
						<option value="11">11 mois</option>
						<option value="12">12 mois</option>
					</select>
				</div>
				<span><b>100Dhs</b>/mon</span>
			</div>
		</div>
	</div>
	<button (click)="sendClick('main_payment_btn')" [class.button-loading]="loading" (click)="process()">Remplir les informations de paiement</button>
	<span class="note"><b> REMARQUE: </b> vous pouvez rembourser votre paiement dans les 2 jours suivant le paiement!</span>
</div>