<div class="main-container flex">
	<form class="reset-box flex">
		<img [navigateTo]="{path:['home']}" src="tva-assets/main-logo.png" alt="" />
		<span *ngIf="bigError" class="big-error">Erreur l'URL est invalide, veuillez vérifier dans votre boîte de réception le bonne URL, ou essayez à nouveau!</span>
		<form *ngIf="!bigError" class="box-container flex" (submit)="resetPassword($event)">
			<span>Veuillez entrer votre nouveau mot de passe.</span>
			<span *ngIf="error" class="error">Les mots de passe ne correspondent pas!</span>
			<div class="input-grp" [class.input-error]="passwordTemplate.errors?.required && passwordTemplate.touched">
				<input required name="password" [(ngModel)]="password" #passwordTemplate="ngModel" type="password" placeholder="Entrez votre mot de passe">
				<span>Nouveau mot de passe</span>
			</div>
			<div class="input-grp" [class.input-error]="repasswordTemplate.errors?.required && repasswordTemplate.touched">
				<input required name="repassword" [(ngModel)]="repassword" #repasswordTemplate="ngModel" type="password" placeholder="Entrez votre mot de passe">
				<span>Confirmé votre mot de pass</span>
			</div>
			<button [class.button-loading]="loadingBtn" type="submit">Enregistrer</button>
		</form>
	</form>
</div>