.main-container {
	height: 100vh;
	width: 100%;
	background-image: url('/tva-assets/main-bg.svg');
	background-size: cover;
	position: relative;
	background-position: bottom;
	align-items: center;
	justify-content: center;
}

.reset-box {
	flex-direction: column;
	padding: 20px;
	align-items: center;
}

.reset-box > span {
	margin-bottom: 20px;
}

.box-container {
	flex-direction: column;
	width: 340px;
}

.box-container > span {
	margin-bottom: 10px;
    font-size: 13px;
}

.big-error {
    margin-top: 20px;
    font-size: 17px;
    color: #9e9e9e;
}

.error {
	font-size: 12px;
    margin-bottom: 10px;
    color: #ff5f5f;
    margin-top: 20px;
}

.reset-box > img {
	width: 190px;
    margin-bottom: 20px;
    cursor: pointer;
}