<section class="side-bar flex">
	<div class="logo-container flex">
		<img src="tva-assets/white-logo.png" alt="" />
	</div>
	<div class="user-info flex">
		<span class="wlcm-name">Bienvenue, {{userData.userName}}</span>
		<span class="user-type">{{companyName}}</span>
	</div>
	<ul class="menu flex">
		<li class="flex" [navigateTo]="{path:['companies']}">
			<div class="icon flex">
				<i class="remixicon-stack-line"></i>
			</div>
			<div class="name flex">
				<span>Sociétés</span>
				<span>Mes société</span>
			</div>
		</li>
		<li [class.active-menu-item]="active == 'overview'" class="flex" [navigateTo]="{path:['dashboard','overview'], class:activeClass}">
			<div class="icon flex">
				<i class="remixicon-pie-chart-line"></i>
			</div>
			<div class="name flex">
				<span>Présentation</span>
				<span>Statistique</span>
			</div>
		</li>
		<li [class.active-menu-item]="active == 'files'" class="flex" [navigateTo]="{path:['dashboard','files'], class:activeClass}">
			<div class="icon flex">
				<i class="remixicon-file-line"></i>
			</div>
			<div class="name flex">
				<span>Mes dossiers</span>
				<span>Gestion des fichiers</span>
			</div>
		</li>
		<li [class.not-allowed]="isUser" [class.active-menu-item]="active == 'users'" class="flex" [navigateTo]="{path:['dashboard','users'], class:activeClass, block:isUser}">
			<div class="icon flex">
				<i class="remixicon-user-3-line"></i>
			</div>
			<div class="name flex">
				<span>Mes utilisateurs</span>
				<span>Gestion d'utilisateurs</span>
			</div>
		</li>
		<li [class.not-allowed]="isUser" [class.active-menu-item]="active == 'settings'" class="flex" [navigateTo]="{path:['dashboard','settings'], class:activeClass, block:isUser}">
			<div class="icon flex">
				<i class="remixicon-settings-3-line"></i>
			</div>
			<div class="name flex">
				<span>Paramètres</span>
				<span>Paramètres du compte</span>
			</div>
		</li>
	</ul>
	<div class="logout-container flex" (click)="logout()">
		<div class="icon flex">
			<i class="remixicon-shut-down-line"></i>
		</div>
		<span>Se déconnecter</span>
	</div>
</section>