<div class="page-head flex">
	<div class="title flex">
		Utilisateurs de la société
	</div>
	<div class="flex">
		<button class="add-new-file" (click)="togglePopup()">+ Ajouter un utilisateur</button>
	</div>
</div>
<div class="users-container flex">
	<app-user *ngFor="let user of users" [user]="user" (block)="block($event)" (deleted)="deleteUser($event)" (edit)="editUser($event)"></app-user>
	<span *ngIf="!loadingUsers && users.length == 0" class="empty-list">Ajouter un nouveau utilisateur à la société pour commencer.</span>
	<div *ngIf="loadingUsers" class="loading-body flex">
		<img src="/tva-assets/loading.svg" alt="">
	</div>
</div>

<app-add *ngIf="addNewPopup" (closePopup)="addNewPopup = false" [config]="addPopupConfig" [loading]="loading" [title]="popupTiltle" (formSubmit)="addNewUser($event)" [error]="popupError" [errorInput]="errorInput">
</app-add>

<app-add *ngIf="editPopup" (closePopup)="editPopup = false" [config]="editConfig" [loading]="loading" [title]="editPopupTiltle" (formSubmit)="editUserSubmit($event)" [error]="popupError">
</app-add>

<app-add-user *ngIf="adduserPopup" (addUser)="addUser($event)" (addNew)="addNew()" (close)="adduserPopup = false"></app-add-user>

<ng-container *ngIf="alertPopup">
	<app-alert [alertType]="alertType" (answerEvent)="hideError($event)"></app-alert>
</ng-container>