<div class="popup-container">
	<div class="alert-popup">
		<div class="alert-head">
			<span>Add user to company</span>
		</div>
		<div class="alert-body">
			<div class="alert-content alert-with-inp">
				<div class="input-grp">
					<input type="text" placeholder="User name..." (keyup.enter)="search($event, true)" (keyup)="search($event, false)">
					<span>Search Users</span>
				</div>
				<ng-scrollbar class="users-result-scroll" [visibility]="shownType">
					<div class="users-result flex">
						<span *ngIf="users.length == 0" class="no-result">Search for users.</span>
						<div *ngFor="let user of users" class="user-result flex" (click)="add(user)">
							<div class="icon">
								<i class="remixicon-user-3-line"></i>
							</div>
							<div class="info flex">
								<span>{{user.name}}</span>
								<span>{{user.email}}</span>
							</div>
							<i class="remixicon-add-circle-line"></i>
						</div>
					</div>
				</ng-scrollbar>
			</div>
			<div class="alert-buttons">
				<button (click)="_close()" class="white-btn">CANCEL</button>
				<button (click)="_addNew()" class="highlighted-btn">ADD NEW</button>
			</div>
		</div>
	</div>
</div>
