<div class="main-container flex">
	<div class="form-container flex">
		<div class="logo-container-m">
			<img [navigateTo]="{path:['home']}" src="tva-assets/main-logo.png" alt="" />
		</div>
		<form class="login-form flex" (submit)="loginUser($event)">
			<div class="info-div">
				<span class="large-title">S'identifier</span>
				<span class="sub-title">Veuillez vous connecter à votre compte existant.</span>
			</div>
			<span class="login-error" *ngIf="loginError">Erreur de connexion, veuillez réessayer!</span>	
			<div class="input-grp" [class.input-error]="emailTemplate.errors?.pattern || emailTemplate.errors?.required && emailTemplate.touched">
				<input required name="email" [pattern]="emailPattern" [(ngModel)]="email" #emailTemplate="ngModel" placeholder="mycompany@email.com">
				<span>Address Email</span>
			</div>
			<div class="input-grp" [class.input-error]="passwordTemplate.errors?.required && passwordTemplate.touched">
				<input required name="password" [(ngModel)]="password" #passwordTemplate="ngModel" type="password" placeholder="Entrez votre mot de passe">
				<span>Mot de passe</span>
			</div>
			<div class="more-login-options flex">
				<span (click)="displayEmailAlert()" class="forgot-password">Mot de passe oublié ?</span>
			</div>
			<button (click)="sendClick('main_login_btn')" [class.button-loading]="loadingBtn" type="submit">Se connecter</button>
		</form>
		<span class="signup">Pas encore inscrit? <a [navigateTo]="{path:['register']}">Enregistrez-vous</a> </span>
	</div>
	<div class="image-container flex">
		<img src="tva-assets/undraw_all_the_data_h4ki.svg" />
	</div>
</div>
<ng-container *ngIf="alert">
	<app-alert [alertType]="alertType" (answerEvent)="alertAnwser($event)"></app-alert>
</ng-container>