<div class="files-row flex" (click)="openFile($event)" [class.file-checked]="check" [class.file-opend]="!_close">
	<span class="open-file"></span>
	<div class="check-box dont-open">
		<input *ngIf="!plane" type="checkbox" [checked]="check" (click)="checkMe($event)">
		<div *ngIf="!plane" class="box"></div>
	</div>
	<span class="culumn">{{data.file_name}}</span>
	<span class="culumn">{{filesTypes[data.type]}}</span>
	<span class="culumn">{{data.year}}</span>
	<span class="culumn">{{data.last_modified}}</span>
	<span class="more-options">
		<i *ngIf="!plane" [tooltip]="'Options'" class="remixicon-more-2-line dont-open trigger-btn" (click)="moreInfo = true"></i>
		<div class="options-menu dont-open" [class.hide]="!moreInfo" (clickAway)="moreInfo = false">
			<span (click)="editFile()"><i class="remixicon-pencil-fill"></i><span>Modifier</span></span>
			<span (click)="deleteFile()"><i class="remixicon-delete-bin-2-fill"></i><span>Supprimer</span></span>
		</div>
	</span>
	<form class="select-month-container dont-open" (submit)="submitFile($event)">
		<div *ngIf="loading" class="loading-file flex"><img src="/tva-assets/loading.svg" alt=""></div>
		<div class="select-month">
			<span>Mois :</span>
			<div *ngIf="!loading" class="custom-select-container">
				<div class="custom-select trigger-btn" (click)="monthsSelect = !monthsSelect">
					<span>{{monthCurrentVal.name}}</span>
					<i class="remixicon-arrow-down-s-fill"></i>
				</div>
				<div [class.trim]="data.type == 'quarterly'" class="custom-select-options" (clickAway)="monthsSelect = false" [class.hide]="!monthsSelect">
					<span>{{ selectTitle[data.type] }} en cours:</span>
					<div>
						<div *ngFor="let month of details" (click)="setMonth($event)" [attr.data-select]="month.month" [attr.data-number]="month.bills" [attr.data-name]="names[data.type][month.month]" [class.selected-month]="monthCurrentVal.val == month.month">
							{{names[data.type][month.month]}} <span>({{month.bills}})</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<span *ngIf="!loading" class="bills-num">{{monthCurrentVal.number}} Factures</span>
		<div class="download">
			<div (click)="openPDF()">
				<i class="remixicon-file-fill"></i>
				<span>PDF</span>
			</div>
			<div (click)="openXML()">
				<i class="remixicon-file-fill"></i>
				<span>XML</span>
			</div>
		</div>
		<button type="submit" class="open">
			<i class="remixicon-arrow-right-s-line"></i>
		</button>
	</form>
</div>
<ng-container *ngIf="alertPopup">
	<app-alert [alertType]="alertType" (answerEvent)="alertAnswer($event)"></app-alert>
</ng-container>