<div class="popup-container">
	<div class="alert-popup">
		<div class="alert-head">
			<span>{{currentType.title}}</span>
		</div>
		<div class="alert-body">
			<div class="alert-content">
				<div class="alert-icon">
					<i class="remixicon-alert-fill"></i>
				</div>
				<div class="alert-text">
					{{currentType.msg}}
				</div>
			</div>
			<div class="alert-buttons">
				<button *ngIf="alertType == 'delete'" (click)="answer(false)" class="white-btn">NO</button>
				<button *ngIf="alertType == 'delete'" (click)="answer(true)" class="highlighted-btn">YES</button>
				<button *ngIf="alertType == 'error'" (click)="answer(true)" class="highlighted-btn">OK</button>
			</div>
		</div>
	</div>
</div>