@import url('https://fonts.googleapis.com/css?family=Poppins:400,300,500,600');
/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');*/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600,700&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F8F8FE;
}

img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

iframe { border: 0; }

a {
	color: black;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

input,
textarea,
button {
	box-sizing: border-box;
}

select {
	cursor: pointer;
}

a:focus, 
button:focus,
textarea:focus,
input:focus,
select {
	outline: 0;
	box-shadow: none;
}

p {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Main Classes
======================*/

.wrapper {
	width: 100%;
	max-width: 1440px;
	height: 100%;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}

.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

/* Buttons
======================*/

button {
	border: none;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	padding: 8px 15px;
	font-size: 11px;
	border-radius: 4px;
	background-color: #4688D6;
	border: 1px solid #4688D6;
	color: white;
	box-sizing: border-box;
	transition: .3s;
}

button:hover {
	box-shadow: 0px 2px 7px #5765736b;
    background: #6cafff;
    color: #ffffff;
    border: 1px solid #6cafff;
    box-sizing: border-box;
}

button:active {
	box-shadow: none;
	position: relative;
	box-shadow: 0px 2px 7px #5765736b;
}

button:active:after {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(25, 96, 214, 0.2);
}

.button-loading {
	position: relative;
	overflow: hidden;
	pointer-events: none;
}

.button-loading:active,
.button-loading:hover {
	box-shadow: none !important;
	background-color: #4688D6 !important;
	color: white !important;
	border: none !important;
}

.button-loading:after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #4688D6;
	top: 0;
	left: 0;
	background-image: url('/tva-assets/loading-white.svg');
	background-position: center;
	background-size: 20px;
	background-repeat: no-repeat;
}

.white-btn {
	background-color: white;
	color: #323E4E;
	border: 1px solid #757575;
}

.white-btn:hover {
	background-color: #4688d6;
    border: 1px solid #4688d6;
    color: white;
}

.block-click-btn {
	background-color: #a2a9b9 !important;
	border-color: #a2a9b9;
	pointer-events: none !important;
	cursor: default !important;
}

.home-btn-transparent,
.home-btn-white {
	font-weight: 600;
	font-size: 10px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;	
	box-sizing: border-box;
}

.home-btn-white {
	background-color: white;
	color: #323E4E;
	border: 2px solid white;
	padding-left: 25px;
	padding-right: 25px;
}

.home-btn-white:hover {
	color: #FFFFFF;
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 0.5);
}

.blue-text-btn:hover {
	background-color: #52a1e9;
    color: white !important;
    border: 2px solid #52a1e9;
    box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.26);
}

.home-btn-transparent:hover {
	background-color: white;
	color: #323E4E;
	border: 2px solid white;
}

.home-btn-transparent {
	color: #FFFFFF;
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 0.5);
	padding-left: 30px;
	padding-right: 30px;
}

.blue-text-btn {
	color: #0077FF !important;
	box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.26);
}

.hide {
	display: none !important;
}


.inp-suggestion {
	position: absolute;
	top: 65px;
	width: 100%;
	background-color: white;
	padding: 0;
	box-sizing: border-box;
	z-index: 2;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.08);
	border: 1px solid #ececec;
	max-height: 200px;
	overflow-y: auto;
}

.inp-suggestion > div {
	color: #8e96a0 !important;
	padding: 10px 20px;
	width: 100%;
	border-bottom: 1px solid #f1f1f1;
	cursor: pointer;
	box-sizing: border-box;
	font-weight: 400 !important;
	margin-bottom: 0 !important;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	transition: .3s;
}

.inp-suggestion > div:hover {
	background-color: #e6f0fd;
}

.inp-suggestion > div > span {
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.inp-suggestion > div > span:first-of-type {
	width: 70%;
	margin-right: 15px;
}

.inp-suggestion > div > span > b {
	color: #535b67 !important;
	margin-left: 10px;
	font-weight: 500;
}

.inp-suggestion > div:last-of-type {
	border-bottom: none;
}

.check-box {
	width: 70px;
	flex: 0 1 auto !important;
	align-items: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;
	align-items: flex-start;
}

.check-box > input {
	opacity: 0;
	position: absolute;
	top: 0;
	margin: auto;
	left: 5px;
	z-index: 2;
	height: 14px;
	width: 14px;
	cursor: pointer;
}

.check-box > input:checked ~ div {
	background-color: #1C6EF7;
	position: relative;
	border: 1px solid #1C6EF7;
}

.check-box > input:checked ~ div:after {
	display: block;
}

.check-box > div:after {
	content: '';
	height: 3px;
	width: 8px;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	display: none;
	transform: rotate(-48deg);
	position: absolute;
	bottom: 6px;
	margin: auto;
	left: 0;
	right: 0;
	z-index: 1;
}

.check-box > div {
	height: 14px;
	width: 14px;
	margin-left: 5px;
	border: 1px solid #B9B1B1;
	cursor: pointer;
}

.input-grp {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}

.input-grp > div {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.input-grp > span, 
.input-grp > div > span {
	font-weight: 500;
	margin-bottom: 5px;
	transition: .3s;
	font-size: 12px;
	color: #2E303D;
}

.input-grp > div > i {
	font-size: 13px;
	margin-left: auto;
	color: rgba(50, 62, 78, 0.45);
	cursor: pointer;
}

.locked {
	color: #0084FF !important;
	cursor: pointer;
}

.double-inp-in-grp {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.double-inp-in-grp > input:nth-of-type(1) {
	margin-right: 10px;
}

.double-inp-in-grp {
	order: 2;
}

.double-inp-in-grp > input {
	width: 100% !important;
}

.double-inp-in-grp > select,
.double-inp-in-grp > input,
.input-grp > select,
.input-grp > textarea,
.input-grp > input {
	height: 40px;
	border: 1px solid #DFE4E8;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 0 15px;
	order: 2;
	transition: .3s;
	color: #323E4E;
	font-size: 12px;
}

.input-grp > textarea {
	max-width: 440px;
	height: 150px;
    padding-top: 15px;
}

.user_email  {
	height: 40px;
	order: 2;
	transition: .3s;
	font-size: 12px;
}

.user_email > input {
	height: 100%;
	border: 1px solid #DFE4E8;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 0 15px;
	color: #323E4E;
}

.user_email > span {
	margin-left: 20px;
	color: #b5b5b5 !important;
}

.double-inp-in-grp > input::placeholder,
.user_email> input::placeholder,
.input-grp > input::placeholder { color: #B7BCC2; }
.double-inp-in-grp > input::-webkit-input-placeholder
.user_email> input::-webkit-input-placeholder ,
.input-grp > input::-webkit-input-placeholder { color: #B7BCC2; }
.double-inp-in-grp > input:-moz-placeholder,
.user_email> input:-moz-placeholder,
.input-grp > input:-moz-placeholder { color: #B7BCC2; }
.double-inp-in-grp > input::-moz-placeholder,
.user_email> input::-moz-placeholder,
.input-grp > input::-moz-placeholder { color: #B7BCC2; }
.double-inp-in-grp > input:-ms-input-placeholder
.user_email> input:-ms-input-placeholder,
.input-grp > input:-ms-input-placeholder { color: #B7BCC2; }
.double-inp-in-grp > input::-ms-input-placeholder,
.user_email> input::-ms-input-placeholder,
.input-grp > input::-ms-input-placeholder { color: #B7BCC2; }

.user_email > input:focus,
.input-grp > textarea:focus,
.input-grp > input:focus {
	border: 1px solid #56ABFB;
}

.h-inp-grp > span,
.input-grp > input:focus ~ div > span,
.input-grp > textarea:focus ~ span,
.input-grp > input:focus ~ span {
	color: #56ABFB !important;
}

.input-grp > input:focus ~ .inp-suggestion > span {
	color: #969FAB !important;
}

.h-inp-grp > select {
	border: 1px solid #56ABFB;
}

.input-error > div > input,
.input-error > textarea,
.input-error > input {
	border: 1px solid #ff5a4e !important;
}

.input-error > div > span,
.input-error > span {
	color: #ff5a4e !important;
}

.double-input-grp {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.double-input-grp > .input-grp:first-of-type {
	margin-right: 10px;
}

.input-error,
.loading-input-done,
.loading-input {
	position: relative;
}

.input-error:after,
.loading-input-done:after,
.loading-input:after {
	content: '';
	height: 15px;
	width: 15px;
	position: absolute;
	right: 8px;
	bottom: 13px;
	background-image: url('/tva-assets/loading.svg');
	background-size: cover;
}

_:-ms-fullscreen, :root .loading-input:after {
	animation: loading 2s infinite;
	animation-delay: 0s;
}

@supports (-ms-ime-align:auto) {
    .loading-input:after {
		animation: loading 2s infinite;
		animation-delay: 0s;
	}
}

@keyframes loading {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}

.loading-input > input {
	border: 1px solid #56ABFB !important;
}

.loading-input-done > input {
	border: 1px solid #27AE60 !important;
}

.loading-input-done:after {
	content: '\eb19';
	font-family: 'remixicon' !important;
	background-image: none;
	color: #27AE60;
	font-size: 17px;
}

.input-error:after {
	content: '\eb2d';
	font-family: 'remixicon' !important;
	background-image: none;
	color: #ff5a4e;
	font-size: 17px;
}

.alert-popup {
	min-height: 200px;
	width: 400px;
	background-color: white;
	border-radius: 4px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.09);
}

.bill-popup {
	width: 820px;
	position: relative;
}

@media only screen and (max-height: 700px) {
	.bill-popup {
		/*height: 95vh;*/
		/*overflow-y: auto;*/
	}

	.alert-head {
		padding: 10px 30px !important;
		background: red;
	}

	/*.alert-buttons {
	    position: absolute;
	    bottom: 42px;
	    right: 30px;
	}*/
}

.alert-head {
	background-color: rgba(70, 136, 214, 0.05);
	padding: 15px 30px;
	font-size: 13px;
	font-weight: 500;
	color: #323E4E;
}

.alert-body {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	padding: 15px 30px;
	min-height: 150px;
	box-sizing: border-box;
}

.alert-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: auto 0;
	font-size: 13px;
	color: #5F6483;
}

.alert-icon {
	align-items: center;
	justify-content: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-right: 20px;
}

.alert-icon > i {
	font-size: 34px;
	color: #4688D6;
}

.alert-buttons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
    margin-top: 15px;
}

.bill-popup > .alert-body > .alert-content > .alert-buttons {	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
    height: 37px;
    margin-top: auto !important;
    margin-left: auto;
    margin-bottom: 20px;
}

.alert-buttons > button {
	margin-left: 15px;
}

.alert-buttons > button:first-of-type {
	margin-left: auto !important;
}

.highlighted-btn {
	min-width: 100px;
}

.alert-with-inp {
	flex-direction: column;
}

.bill-popup > .alert-body > .alert-content {
	flex-wrap: wrap;
	flex-direction: row;
}

.bill-popup > .alert-body > .alert-content > .input-grp {
	width: calc(98% / 2);
	margin-right: 2%;
}

.bill-popup > .alert-body > .alert-content > .input-grp:nth-of-type(2n) {
	margin-right: 0;
}

.popup-container {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.15);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100 !important;
}

.popup-error {
	font-size: 12px;
    margin-bottom: 10px;
    color: #ff5f5f;
}

.users-result {
	height: 100%;
	width: 100%;
	flex-direction: column;
}

.user-result:hover {
	background-color: rgba(70, 136, 214, 0.05);
}

.users-result > .user-result {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	border-bottom: 1px solid #d6d6d6;
	cursor: pointer;
}

.users-result > .user-result > div {
	flex-direction: column;
	position: relative;
}

.users-result > .user-result > .icon > i {
	font-size: 30px;
}

.users-result > .user-result > .info {
	width: 100%;
}

.users-result > .user-result > i {
	align-self: center;
}

.users-result > .user-result > div > span:first-of-type {
	font-size: 15px;
	color: #323E4E;
}

.users-result > .user-result > div > span:last-of-type {
	font-size: 12px;
}

.users-result-scroll {
	height: 200px !important;
	width: 100% !important;
}

.no-result {
	width: 100%;
	font-size: 10px;
	text-align: center;
}

.empty-list {
	font-size: 15px;
    color: #c3c3c3;
    width: 100%;
    text-align: center;
    margin-top: 20vh;
    display: block;
}

.loading-body  {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.loading-body > img {
    width: 30px;
}

.red-dlt {
	color: #f14343 !important;
	cursor: pointer !important;
	pointer-events: auto !important;
}

input[type="date"]::-webkit-inner-spin-button { display: none; }
input[type="date"]::-webkit-calendar-picker-indicator { display: none; }

.not-allowed {
	cursor: not-allowed !important;
}

.not-allowed:before {
	content: '';
	position: absolute;
	left: -25px;
	top: 0;
	width: 240px;
	height: 100%;
	background-color: #2f70b1;
	z-index: -1;
}

@media only screen and (max-width: 1024px) {
	.not-allowed:before {
		width: 200px;
		left: -20;
	}
}

.tva-table-popup {
	width: 500px;
}

.tva-table {
	margin: 10px 0;
	flex-direction: column;
}

.tva-table-head {
	background-color: red;
	font-size: 13px;
	padding: 5px 10px;
	border-radius: 3px;
	background: #F8F8FE;
	border: 1px solid rgba(0, 0, 0, 0.06);
	box-sizing: border-box;
	color: #3F5977;
}

.tva-table-body > div > span:nth-of-type(1),
.tva-table-head > span:nth-of-type(1) {
	flex: 2;
	position: relative;
}

.tva-table-body {
	position: relative;
}

.tva-table-head > span:nth-of-type(1):after {
	content: '';
	width: 1px;
	height: 90%;
	background-color: #cccbcb;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

.tva-table-body:after {
	content: '';
	width: 1px;
	height: 80%;
	background-color: #cccbcb;
	display: block;
	position: absolute;
	left: 65.7%;
	top: 0;
	bottom: 0;
	margin: auto;
}

.tva-table-body > div > span:nth-of-type(2),
.tva-table-head > span:nth-of-type(2) {
	flex: 1;
	text-align: center;
}

.table-foot > span:nth-of-type(2),
.tva-table-body > div > span:nth-of-type(2) {
	text-align: right;
}

.tva-table-body > div > span:nth-of-type(2) {
	color: #3F5977;
}

.tva-table-body {
	padding: 15px 5px;
	flex-direction: column;
	font-size: 13px;
}

.tva-table-body > div {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 5px;
}

.tva-table-body > div:last-of-type {
	margin-bottom: 0;
}

.bill-type {
	width: 100px;
}

.choice-buttons {
	flex-direction: column;
	padding-top: 15px;
}

.choice-buttons > .or-style {
	width: 100%;
    font-size: 12px;
    align-self: center;
    text-align: center;
    margin: 15px 0;
    position: relative;
    color: #ababab;
}

.choice-buttons > .or-style:after,
.choice-buttons > .or-style:before {
	content: "";
	height: 1px;
	width: 40%;
	background: #ababab;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}

.choice-buttons > .or-style:after { left: 0; }
.choice-buttons > .or-style:before { right: 0; }

.resend-text {
	font-size: 11px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}

.resend-text > a {
	color: #2e98cf;
    cursor: pointer;
}

.contact-popup {
	width: 500px;
}

.email-sent > span {
	font-size: 14px;
    color: #5d5c5c;
}

.popup-container {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.15);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.table {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.table-row {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.04);
	cursor: pointer;
	background-color: white;
}

.table-row > span {
	flex: 1;
	font-size: 12px;
	color: #949597;
	margin-left: 10px;
	overflow: hidden;
    white-space: nowrap;
}

.table-row > span:first-of-type {
	color: #323E4E;
}

.table-head {
	background: transparent !important;
	border-radius: 4px;
	box-shadow: none !important;
	cursor: default;
}

.table-head > span {
	color: #323E4E !important;
	font-weight: 600;
}

.table-row-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid rgba(50, 62, 78, 0.1);
}

.row-items {
	flex: 1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}

.row-items > .less-info {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 100%;
	align-items: center;
}

.row-items > .less-info >  span {
	flex: 1;
	font-size: 12px;
	color: #949597;
}

.page-head {
	margin-top: 30px;
	margin-bottom: 15px;
}

.page-head > * {
	flex: 1;
	align-items: center;
}

.title {
	font-size: 18px;
	color: #323E4E;
}

.title > span {
	margin-left: 15px;
	font-size: 13px;
	color: #969FAB;
}

.inp-checkbox-container > span {
	margin-top: 5px !important;
	font-size: 11px !important;
	color: #60676f !important;
}

.inp-checkbox-container > .check-box {
	width: 40px !important;
}

.tooltip {
	position: absolute;
	right: 0;
	margin: auto;
	background-color: #2a6db4;
	padding: 5px;
	color: white;
	font-size: 10px;
    white-space: nowrap;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    z-index: 500;
    top: 140%;
    opacity: 0;
    animation-name: getIn;
	animation-duration: 0.3s;
	animation-delay: .5s;
	animation-fill-mode: forwards;
}

.tooltip:before {
	content: '';
	height: 5px;
	width: 5px;
	background-color: #2a6db4;
	position: absolute;
	right: 5px;
	margin: auto;
	top: -2px;
	transform: rotate(45deg);
}

@keyframes getIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.x-optionl {
	font-size: 10px;
    color: #b5b3b3;
    font-weight: 500;
    margin-left: 5px;
}