.main-container {
	height: 100vh;
	width: 100%;
	background-image: url('/tva-assets/main-bg.svg');
	background-size: cover;
	position: relative;
	background-position: bottom;
	flex-direction: column;
	align-items: center;
}

.header {
	flex-direction: column;
	padding-top: 50px;
}

.header > .logo {
	justify-content: center;
	margin-bottom: 25px;
}

.header > .logo > i {
	color: #687C8E;
	font-size: 64px;
}

.header > .logo > img {
	width: 200px;
}

.header > .text {
	flex-direction: column;
	text-align: center;
	margin-bottom: 20px;
}

.header > .text > .large {
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #020F14;
	margin-bottom: 5px;
}

.header > .text > .small {
	font-size: 14px;
	line-height: 21px;
	color: #9F9F9F;
}

.search-grp {
	width: 500px;
	height: 45px;
	background: #FFFFFF;
	box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.09);
	border-radius: 4px;
	margin-bottom: 50px;
}

.search-grp > div {
	padding: 15px;
}

.search-grp > div > i {
	font-size: 19px;
	color: #979797;
}

.search-grp > input {
	flex: 1;
	border: none;
}

.search-grp > input::placeholder { color: rgba(133, 133, 133, 0.48); }
.search-grp > input::-webkit-input-placeholder { color: rgba(133, 133, 133, 0.48); }
.search-grp > input:-moz-placeholder { color: rgba(133, 133, 133, 0.48); }
.search-grp > input::-moz-placeholder { color: rgba(133, 133, 133, 0.48); }
.search-grp > input:-ms-input-placeholder { color: rgba(133, 133, 133, 0.48); }
.search-grp > input::-ms-input-placeholder { color: rgba(133, 133, 133, 0.48); }

.empty-comapnies {
	font-size: 13px;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    color: #969696;
}

.app-scroll-container {
	width: 80% !important;
}

.companies-container {
	width: 100%;
	flex-wrap: wrap;
	overflow-y: auto;
	margin-bottom: 20px;
}

.company {
	background-color: white;
	width: calc(90%/3);
	flex-direction: column;
	text-align: center;
	align-self: flex-start;
	padding: 30px 0;
	margin-right: 5%;
	box-sizing: border-box;
	position: relative;
	margin-bottom: 3vw;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.22);
	border-radius: 5px;
	z-index: 0;
}

.company:nth-of-type(3n) {
	margin-right: 0;
}

.company > i {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	color: #EF8C8C;
	z-index: 2;
}

.company > i:hover {
	color: white;
}

.company > i:hover:after {
	content: '';
    height: 16px;
    width: 16px;
    position: absolute;
    background-color: #f18d8d;
    right: 0px;
    top: 0px;
    z-index: -1;
    border-radius: 100%;
}

.company-if {
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 13px;
    color: #bbbbbb;
}

.company-name {
	font-weight: 500;
	font-size: 25px;
	line-height: 37px;
	color: #515151;
}

.company-activity {
	font-size: 16px;
	line-height: 24px;
	color: #B9B9B9;
}

.company-button {
	position: absolute;
	right: 20px;
	bottom: -20px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: #4688D6;
	box-shadow: 2px 10px 18px rgba(0, 131, 176, 0.25);
	color: white;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: .3s;
}

.company-button > span {
	opacity: 0;
	visibility: hidden;
}

.hovered {
	width: 70px;
	border-radius: 20px;
}

.hovered > span {
	opacity: 1;
    visibility: visible;
    margin-left: 23px;
    font-size: 12px;
}

.hovered > i {
	opacity: 0;
	visibility: hidden;
}

.company-button > i {
	font-size: 24px;
    margin-right: -49px;
}

.button-container {
	margin-top: auto;
	padding-top: 20px;
	padding-bottom: 50px;
}

.top-menu {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	padding-top: 15px;
}

.top-menu > span:first-of-type {
	margin-left: auto;
	margin-right: 20px;
	position: relative;
}

.top-menu > span {
	font-size: 13px;
    color: #828181;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 5px 10px;
    border-radius: 3px;
    transition: .3s;
    cursor: pointer;
}

.top-menu > span > i {
    font-size: 19px;
    margin-right: 5px;
    color: #4688d6;
    transition: .3s;
}

.compt-active,
.top-menu > span:hover {
	background-color: #4688d6;
    color: white;
}

.compt-active > i,
.top-menu > span:hover > i {
	color: white;
}

.drop-down {
	position: absolute;
	right: 15px;
	top: 50px;
	background-color: white;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	box-shadow: 0px 5px 16px 1px rgba(0, 0, 0, 0.06);
	overflow: hidden;
}

.drop-down > div {
	padding: 10px 20px;
	box-sizing: border-box;
	border-bottom: 1px solid #e8e7e7;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	transition: .3s;
	cursor: pointer;
}

.drop-down > div:first-of-type:hover,
.drop-down > div:first-of-type {
	background-color: #cee4ff;
	cursor: default;
}

.drop-down > div:first-of-type:hover > i {
	color: #4688d6;
}

.drop-down > div:last-of-type {
	border-bottom: none;
}

.drop-down > div > i {
	margin-right: 10px;
    font-size: 20px;
    color: #4688d6;
    transition: .3s;
}

.drop-down > div > span {
	font-size: 13px;
    color: #525252;
    overflow: hidden;
	position: relative;
}

.drop-down > div:hover {
	background-color: #e6f0fd;
}

.drop-down > div:hover > i {
	color: #525252;
}