<div class="email-verefication-container flex">
	<img src="tva-assets/undraw_envelope_n8lc.svg" alt="">
	<span class="large-title">Email Verification</span>
	<span>A confirmation email has been sent to <b>mycompany@support.com</b>. Copy the code in the email and past it below.</span>
	<div class="verify flex">
		<div class="input-grp loading-input">
			<input type="text" placeholder="Code de verification">			
		</div>
		<div class="verify-btn">Verify</div>
	</div>
	<button (click)="verify()">Next Step</button>
	<div class="resend-email">
		<span>Didn’t get any email? <a>Resend</a> Or <a>Contact us</a></span>
	</div>
</div>